{% extends "layout.html" %} {% block body %}

<body>
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h3>Key Features:</h3>
                <p>
                    1. Login Facility. <br />2. User can search courses.
                    <br />3. Able to book the courses. <br />4. Able to apply a
                    job to become an instructor. <br />5. Instructor Applicant
                    can check his status. <br />6. Admin can accept or leave the
                    Requests for Instructor post. <br />7. Admin is able to view
                    the database.
                </p>
            </div>
        </div>
    </div>

    {% endblock %}
</body>
